h1{
  text-decoration-line: underline;
  text-align: center;
  border:2px DarkOrchid;
  Background-color: #14144c;
  color: Bisque;
  font-family:Copperplate, Papyrus, Fantasy;
}

h2{ 
   border:2px DarkOrchid;
   text-align: center;
   color: Bisque;
   font-family:Copperplate, Papyrus, Fantasy;
  }

.image-center{
  display:inline-block;
  text-align: center;
  width: 100%;
  
}
